/* General Styles for Vaporwave Aesthetic */
body {
    font-family: 'Courier New', monospace;
    color: #ffffff; /* White text for contrast */
    margin: 0;
    padding: 0;

    /* Set the background image, replacing the pastel purple background color */
    background-image: url('/static/vaporwave.png');
    background-size: cover;  /* Cover the entire page */
    background-repeat: no-repeat;  /* Prevent repeating the image */
    background-attachment: fixed;  /* Fixed background when scrolling */
}

header {
    background-color: #ff99c8; /* Pastel pink header */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#logo {
    font-size: 2em;
    font-weight: bold;
    color: #250902; /* Deep contrast for logo */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #250902; /* Deep contrast for links */
    text-decoration: none;
    font-size: 1.8em;
}

main {
    padding: 20px;
    text-align: center;
}

/* Home Page Specific Styles */
.home-section a {
    display: inline-block;
    margin: 10px;
    color: #250902;
    text-decoration: none;
    text-shadow:
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
     -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

.home-section img {
    max-width: 100px;
    border: 2px solid #ff99c8; /* Pastel pink border */
    margin-bottom: 5px;
}

/* About Page Specific Styles */
.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-section div {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ff99c8; /* Pastel pink border */
    background-color: #250902; /* Deep background for contrast */
}

.about-section img {
    width: 150px;
    height: 150px;
    border: 3px solid #ffffff;
    margin-bottom: 10px;
    border-radius: 50%; /* Circular images */
}

.about-section span {
    display: block;
    color: #ffffff;
    margin-top: 5px;
}
.link-description {
    color: #000000; /* Black color for the description */
    font-size: 1.3em; /* Keep the smaller font size for description */
    margin-top: 5px; /* Maintain spacing between title and description */
    text-shadow:
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
     -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

/* Responsive Design */
@media (max-width: 600px) {
    .about-section {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}
